---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %}

My research has focused on cyber risk–an emerging risk that has become one of the top threats to enterprises, society, and 
national security. I have developed novel structural and statistical models to solve practice-based research problems, 
especially in cyber and digital insurance. My research aims to develop state-of-the-art cyber risk modeling and provide a 
sound scientific basis for the industry to assess cyber risk. The ultimate goal is to provide cyber insurance and digital 
insurance products to serve society better.

<span style="font-weight: bold; min-height: 12pt; font-size: 12pt;">Cyber Insurance</span>

Cyber insurance has gained heightened significance in today's society due to our growing dependence on the 
cyber realm for nearly all facets of daily life and professional endeavors.



<img src='/images/cyberinsurance.jpeg' style="position: relative; left: 0pt; top: 0pt; width:150px;height:100px;">
 

Nevertheless, the field of cyber risk modeling is still in its nascent stages, largely owing to the distinctive 
attributes of this type of risk. What sets cyber risk apart from conventional risks is the intricate interconnection
of information and communication technology resources within a network. Consequently, assessing cyber risk and its potential 
ramifications necessitates a comprehensive comprehension of the company's network infrastructure and the application
of advanced statistical models for analyzing market cyber risk


<span style="font-weight: bold; min-height: 12pt; font-size: 12pt;">Blockchain-based Digital Insurance</span>

Fueled by recent technological advancements and heightened public awareness, the past decade has witnessed a 
remarkable surge in the realm of cryptocurrencies, often referred to as cryptos, and the broader digital asset landscape,
exemplified by Non-Fungible Tokens (NFTs), all underpinned by blockchain technology.

<img src='/images/digitalinsurance.jpeg' style="position: relative; left: 0pt; top: 0pt; width:150px;height:100px;">

The integration of blockchain smart contracts has introduced a revolutionary capability: the creation of immutable data 
based on an insurance policy holder's records, facilitating swift acceptance or rejection of insurance claims by the company.
However, given the nascent stage of this technology, it is of paramount importance for both technology users and regulators to 
gain a comprehensive understanding of and effectively manage the rapid expansion of digital asset market. This expansion has 
unavoidably engendered increasingly severe cybersecurity risks. Safeguarding the cyber-resilience of the crypto ecosystem emerges
as an imperative task to sustain the ongoing exploration, development, and adoption of blockchain technology within the insurance 
industry.
