---
layout: archive
title: "Students"
permalink: /student/
author_profile: true
---

{% include base_path %}


{% for post in site.team %}
  {% include archive-single.html %}
{% endfor %}
<h3><span> Current PH.D. Students</span></h3>

<ul>
    <li>Yijia Li: Ph.D. Candidate, co-advised with Professor Peng Zhao, University of Science and Technology of China, 2022-present. </li>

  <li>Xiaoyu Zhang: Ph.D. Candidate, co-advised with Professor Peng Zhao,  University of Science and Technology of China, 2020-present.</li> 
 <ul>
<li>Zhang, X.,  Xu, Maochao, Su, J., and Zhao, P. (2022) Structural models for fog computing based internet of things architectures with insurance and risk management applications, <span style="color:blue"><em>European Journal of Operational Research</em></span>, 305 (3), 1273-1291.</span></li>

<li> Zhang, X., Xu Maochao, Da G., and Zhao, P. (2021) Ensuring confidentiality and availability of sensitive data over a network system under cyber threats, <span style="color:blue"><em>Reliability Engineering and System Safety</em></span>, 214, 107697.</span></li>
</ul>
  </ul>

<h3><span> Former PH.D. Students</span></h3>
<ul>
  <li>Hong Sun: Ph.D. thesis entitled <span style="color:blue">Statistical modeling and prediction on network breach data</span>, 2023, co-advised with Professor Peng Zhao, Lanzhou University. First Employment: Assistant Professor, Jiangsu Normal University.</li> 
 <ul>
<li>Sun, H, Xu, Maochao, and Zhao, P. (2023) A Multivariate Frequency-Severity Framework for Healthcare Data Breaches, <span style="color:blue"><em>Annals of Applied Statistics</em></span>, 17 (1), 240-268.</span></li>

<li> Sun, H,  Xu, Maochao, and  Zhao,  P. (2021) Modeling Malicious Hacking Data Breach Risks, <span style="color:blue"><em>North
      American Actuarial Journal,</em></span>, 25, 4, 484-502.</span></li>
</ul>

  <li>Fang, Zhijian: Ph.D. thesis entitled <span style="color:blue">Statistical modeling of network worm attack and data breach</span>, 2021, co-advised with Professor Taizhong Hu, USTC. First Employment: GuoChuang Software.</li> 
<ul>
<li>Fang, Z., Xu, Maochao, Xu, S., and Hu, T. (2021) A Framework for Predicting Data Breach Risk: Leveraging Dependence to Cope with Sparsity, <span style="color:blue">
  <em>IEEE Transactions on Information Forensics and Security</em></span>, 198, 16, 2186-2201.</span></li>

<li> Fang, Z., Zhao, P., Xu, Maochao, Xu, S., Hu, T., and Fang X. (2020) Statistical modeling of computer malware propagation dynamics in cyberspace, <span style="color:blue"><em>Journal of Applied Statistics,
</em></span>, 49 (4), 858-883.</span></li>
</ul>
 
 
  <li> Chen, Peng : Ph.D. thesis entitled <span style="color:blue">Applications of extreme value theory and multivariate dependence structure in assessment of cyber security risks</span>, 2018, jointly with Professor Taizhong HU, USTC. First Employment: Country Garden.</li> 
 <ul>
<li>Chen, P., Xu, Maochao, Xu, S. and Hu, T. (2018) Modeling Multivariate Cybersecurity Risks, <span style="color:blue">
  <em>Journal of Applied Statistics</em></span>, 45, 2718-2740.</span></li>

<li> Chen, P., Xu, Maochao, Xu, S. and Hu, T. (2017) Modeling and Predicting Extreme Cyber Attack Rates via Marked Point Processes, <span style="color:blue"><em>Journal of Applied Statistics,
</em></span> 14, 2534-2563.</span> <span style="color:red">(One of Two Highly Commended Finalists of Best Paper 2017)</span></li>
</ul>

    
  <li>Zhan, Zhenxin: Ph.D. thesis entitled <span style="color:blue">A Statistical Framework for Analyzing Cyber Attacks</span>, 2014 , co-advised with Professor Shouhuai Xu, Department of Computer Science, University of Texas at San 
    Antonio. First employment: Juniper Networks..</li> 
 <ul>
<li>Zhan, J., Xu, Maochao, and Xu, S. (2015) Predicting Cyber Attack Rates with Extreme Values, <span style="color:blue">
  <em>IEEE Transactions on Information Forensics and Security</em></span>, 10, 1666-1677.</span></li>

<li> Zhan, J., Xu, Maochao, and Xu, S. (2013) Characterizing Honeypot-Captured Cyber Attacks: Statistical Framework and Case Study, <span style="color:blue"><em>IEEE Transactions on Information Forensics and Security,
</em></span>  8, 1775-1789.</span></li>
</ul>
  
</ul>
 
