---
layout: archive
title: "Team"
permalink: /team/
author_profile: true
---

{% include base_path %}


{% for post in site.team %}
  {% include archive-single.html %}
{% endfor %}
<span>&ndash;<span> </span></span>Current PH.D.<span>Students</span><br>
<p><span>&bull;<span> </span></span><span>Yijia Li:Ph.D. Candidate, co-advised with Professor Peng Zhao, University of Science and Technology of China, 2022-present.</span></p>
<p><span>&bull;<span> </span></span><span>XiaoyuZhang:Ph.D.Candidate,co-advisedwithProfessorPengZhao,UniversityofScienceand Technology of China, 2020-present.</span></p>
<p><span>&ndash;<span> </span></span><span>Zhang, X., </span><span>Xu, Maochao</span><span>, Su, J., and Zhao, P. (2022) Structural models for fog computing based internet of things architectures with insurance and risk management applications, <span>European Jour-nal of Operational Research</span>, 305 (3), 1273-1291.</span></p>
<p><span>&ndash;<span> </span></span><span>Zhang,X.,</span><span>Xu,Maochao</span><span>,DaG.,andZhao,P.(2021)Ensuringconfidentialityandavailability of sensitive data over a network system under cyber threats, <span>Reliability Engineering and System Safety</span>,214,107697.</span><br />
</p>
<span>&ndash;<span> </span></span>Former PH.D.<span>Students</span><br>
<p><span>&bull;<span> </span></span><span>HongSun:Ph.D.thesis </span><span>entitled<span>Statisticalmodelingand prediction on Networkbreach data</span>, 2023</span><span>,co-advisedwithProfessorPengZhao,LanzhouUniversity. First Employment: Assistant Professor, Jiangsu Normal University.</span></p>
<p><span>&ndash;<span> </span></span><span>Sun, H,</span><span>Xu,Maochao</span><span>, andZhao, P.(2023)AMultivariateFrequency-SeverityFrameworkfor Healthcare Data Breaches, <span>Annals of Applied Statistics</span>, 17 (1), 240-268.</span></p>
<p><span>&ndash;<span> </span></span><span>Sun,H,</span><span>Xu,Maochao</span><span>,andZhao,P.(2021)ModelingMaliciousHackingDataBreachRisks,<span>North American Actuarial Journal</span>, 25, 4, 484-502.</span></p>
<p><span>&bull;<span> </span></span><span>Fang,Zhijian:Ph.D.thesisentitled<span>Statisticalmodelingofnetworkwormattackanddatabreach</span>, 2021,co-advisedwithProfessorTaizhongHu,USTC.FirstEmployment:GuoChuangSoftware.</span></p>
<p><span>&ndash;<span> </span></span><span>Fang, Z., </span><span>Xu, Maochao</span><span>, Xu, S., and Hu, T. (2021) A Framework for Predicting Data Breach Risk: LeveragingDependencetoCopewithSparsity.<span>IEEETransactionsonInformationForensicsand Security</span>, 198, 16, 2186-2201.</span></p>
<p><span>&ndash;<span> </span></span><span>Fang, Z., Zhao, P., </span><span>Xu, Maochao</span><span>, Xu, S., Hu, T., and Fang X. (2020) Statistical modeling of computer malware propagation dynamics in cyberspace.<span>Journal of Applied Statistics</span>, DOI: <span>10.1080/02664763.2020.1845621.</span></span></p>
<p><span>&bull;<span> </span></span><span>Chen, Peng : Ph.D. thesis entitled <span>Applications of extreme value theory and multivariate dependence structure in assessment of cyber security risks</span>, 2018, jointly with Professor Taizhong HU, USTC. First Employment:Country Garden.</span></p>
<p></p>
<p><span>&ndash;<span> </span></span><span>Chen,P.,</span><span>Xu,Maochao</span><span>,Xu,S.andHu,T.(2018)ModelingMultivariateCybersecurity<span>Risks.</span></span></p>
<p><span>JournalofAppliedStatistics</span>,45,2718-<span>2740.</span></p>
<p><span>&ndash;<span> </span></span><span>Chen, P., </span><span>Xu, Maochao</span><span>, Xu, S. and Hu, T. (2017) Modeling and Predicting Extreme Cyber Attack Rates via Marked Point Processes.<em><span>Journal of Applied Statistics</span></em>, 14, 2534-2563.(<strong><span>One of Two HighlyCommendedFinalistsofBestPaper2017</span></strong>)</span></p>
<p></p>
<p><span>&bull;<span> </span></span><span>Zhan,Zhenxin:Ph.D.thesisentitled<span>AStatisticalFrameworkforAnalyzingCyberAttacks</span>,2014, co-advised with Professor Shouhuai Xu, Department of Computer Science, University of Texas at San Antonio.Firstemployment:DataScientistatJuniperNetworks.</span></p>
<p></p>
<p><span>&ndash;<span> </span></span><span>Zhan,J.,</span><span>Xu,Maochao</span><span>,andXu,S.(2015)PredictingCyberAttackRateswithExtreme<span>Values.</span></span></p>
<p><em><span>IEEETransactionsonInformationForensicsandSecurity</span></em><span>,10,1666-<span>1677.</span></span></p>
<p><span>&ndash;<span> </span></span><span>Zhan, J., </span><span>Xu, Maochao</span><span>, and Xu, S. (2013) Characterizing Honeypot-Captured Cyber Attacks: StatisticalFrameworkandCaseStudy.<em><span>IEEETransactionsonInformationForensics&amp;Security</span></em>, 8, 1775-1789.</span></p>
